<footer class="dark:bg-gray-800 text-white p-4 text-center">
    <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
        <div class="sm:flex sm:items-center sm:justify-between">
            <a href="/Home" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
                <img src="assets/logos/logoSF3.png" alt="ViaExpress Logo" class="h-14"/>
            </a>

        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto dark:bg-gray-800 lg:my-8" />
        <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2025 <a href="/Home" class="hover:underline">DesarrollosLimpiosSC™</a>. All Rights Reserved.</span>
    </div>
</footer>
