<div class="p-4 bg-white rounded border dark:bg-gray-800 dark:border-gray-600">
    <p class="text-xl font-semibold text-gray-900 dark:text-white">Resumen de valores</p>

    <div class="mt-4 space-y-2">
        <dl class="flex justify-between">
            <dt class="text-gray-500 dark:text-gray-400">Precio original</dt>
            <dd class="text-gray-900 dark:text-white">
                CLP {{ resumen.precio | currency:'CLP':'symbol':'1.0-0'  }}
            </dd>
        </dl>

        <dl class="flex justify-between">
            <dt class="text-gray-500 dark:text-gray-400">Precio con descuento</dt>
            <dd class="text-gray-900 dark:text-white">
                CLP {{ resumen.precio - resumen.descuento! | currency:'CLP':'symbol':'1.0-0'  }}
            </dd>
        </dl>

        <dl class="flex justify-between">
        <dt class="text-gray-500 dark:text-gray-400">Descuentos</dt>
        <dd>
            <input type="text"
            class="border rounded px-2 w-32 text-right dark:bg-gray-700 dark:text-green-400"
            [value]="inputDescuento"
            (input)="onDescuentoManualChange($event)" 
            (focus)="mostrarValorNumerico()"
            (blur)="formatearDescuento()"
            [disabled]="!resumen.precio"
            placeholder="-20.000"/>
        </dd>
        </dl>

        <dl class="flex justify-between">
        <dt class="text-gray-500 dark:text-gray-400">IVA</dt>
        <dd class="text-gray-900 dark:text-white">
            CLP {{ resumen.iva | currency:'CLP':'symbol':'1.0-0'  }}
        </dd>
        </dl>

        <dl class="flex justify-between font-bold border-t pt-2 dark:border-gray-700">
        <dt class="text-gray-900 dark:text-white">Total</dt>
        <dd class="text-gray-900 dark:text-white">
            CLP {{ resumen.totalPresupuesto | currency:'CLP':'symbol':'1.0-0'  }}
        </dd>
        </dl>
    </div>
</div>
