
<div class="relative shadow-md sm:rounded-lg">
    
    <div style="border-left: ridge; margin-top:1%;margin-bottom:1%;">
        <label class="dark:text-white" style="font-size: xx-large; margin-left:10px;">Lista de Presupuestos</label>
    </div>
<!-- ///////////////////////////////////////////////////////////////////////////////// -->


<div class="flex flex-col md:flex-row md:justify-between md:items-center gap-4 pb-4">
    <!-- Input (izquierda en pantallas grandes, abajo en móviles) -->
    <div *ngIf="this.deviceType != 'Móvil'" class="w-full md:w-auto">
        <label for="table-search" class="sr-only">Buscar</label>
        <div class="relative">
        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
            </svg>
        </div>
        <input type="text" id="table-search"
            (input)="onInputChange($event)"
            class="block pt-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Buscar por nombre" />
        </div>
    </div>

    <!-- Botones (derecha en pantallas grandes, arriba en móviles) -->
    <div class="flex-none pt-4 xl:pt-0 justify-start xl:justify-end flex-wrap">
        <button (click)="nuevoPresupuesto()"
        class="relative inline-flex items-center justify-center p-0.5 mb-2 md:mb-0 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800">
            <span
                class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                <svg class="me-1 -ms-0 inline" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M12 7.757v8.486M7.757 12h8.486M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                </svg>
                {{btnPresupuesto}}
            </span>
        </button>

        <button class="relative inline-flex items-center justify-center p-0.5 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-teal-300 to-lime-300 group-hover:from-teal-300 group-hover:to-lime-300 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-lime-800">
            <span
                class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                <svg class="me-1 -ms-0 inline" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M12 11v5m0 0 2-2m-2 2-2-2M3 6v1a1 1 0 0 0 1 1h16a1 1 0 0 0 1-1V6a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1Zm2 2v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V8H5Z" />
                </svg>
                Descargar Excel
            </span>
        </button>
    </div>
    <div *ngIf="this.deviceType == 'Móvil'" class="mx-auto w-full flex-none lg:max-w-2xl xl:max-w-4xl pb-4">
        <div  class="flex">
            <label for="table-search" class="sr-only">Buscar</label>
            <div class="relative mt-1">
                <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                    </svg>
                </div>
                <input type="text" id="table-search" class="block pt-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
                placeholder="Buscar por nombre">
            </div>
        </div>
    </div>
</div>

<!-- ///////////////////////////////////////////////////////////////////////////////// -->


    <!-- Contenedor de la tabla -->
    <div class="overflow-x-auto w-full rounded-lg border border-gray-700">
        <table class="min-w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="p-4"></th>
                <th scope="col" class="px-6 py-3">Nombre Cliente</th>
                <th scope="col" class="px-6 py-3">Nombre Presupuesto</th>
                <th scope="col" class="px-6 py-3">Fecha Creación</th>
                <th scope="col" class="px-6 py-3">Total</th>
                <th scope="col" class="px-6 py-3">Acción</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let p of presupuestos"
                class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                <td class="w-4 p-4"></td>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                {{ p.NombreUsuarioCompleto }}
                </th>
                <td class="px-6 py-4">{{ p.NombrePresupuesto }}</td>
                <td class="px-6 py-4">{{ p.FechaCreacion | date: 'dd/MM/yyyy' }}</td>
                <td class="px-6 py-4">{{ p.TotalPresupuesto }}</td>
                <td class="flex items-center px-6 py-4 gap-2">
                <!-- Iconos de acción (Editar, PDF, Eliminar) -->
                <a [routerLink]="['/Presupuesto/Persona']" class="group">
                    <svg class="w-6 h-6 text-gray-400 group-hover:text-white" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z"/>
                    </svg>
                </a>
                <a href="/src/assets/Documentos/VIAEXPRESS.pdf" download="VIAEXPRESS.pdf" class="group">
                    <svg class="w-6 h-6 text-gray-400 group-hover:text-white" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M5 17v-5h1.5a1.5 1.5 0 1 1 0 3H5m12 2v-5h2m-2 3h2M5 10V7.914a1 1 0 0 1 .293-.707l3.914-3.914A1 1 0 0 1 9.914 3H18a1 1 0 0 1 1 1v6M5 19v1a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-1M10 3v4a1 1 0 0 1-1 1H5m6 4v5h1.375A1.627 1.627 0 0 0 14 15.375v-1.75A1.627 1.627 0 0 0 12.375 12H11Z"/>
                    </svg>
                </a>
                <a style="cursor: pointer;" class="group">
                    <svg class="w-6 h-6 text-red-500 group-hover:text-red-300" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"/>
                    </svg>
                </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>


    <nav class="flex items-center flex-column flex-wrap md:flex-row justify-between pt-4 pb-4 bg-white dark:bg-gray-900" aria-label="Table navigation">
        <span class="text-sm text-gray-500 dark:text-gray-400">
            Mostrando
            <span class="font-semibold text-gray-900 dark:text-white">
            {{ (Pagina - 1) * Tamanio + 1 }} - {{ Math.min(Pagina * Tamanio, totalRegistros) }}
            </span>
            de
            <span class="font-semibold text-gray-900 dark:text-white">{{ totalRegistros }}</span>
        </span>

        <ul class="inline-flex text-sm h-8">
            <li>
            <button (click)="paginaAnterior()" [disabled]="Pagina === 1"
                class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                Anterior
            </button>
            </li>


            <li *ngFor="let p of [].constructor(totalPaginas); let i = index">
                <button (click)="irAPagina(i + 1)"
                    class="flex items-center justify-center px-3 h-8"
                    [ngClass]="{
                    'text-blue-600 border border-gray-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white': Pagina === i + 1,
                    ' leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white': Pagina !== i + 1
                    }">
                    {{ i + 1 }}
                </button>
            </li>

            <li>
            <button (click)="paginaSiguiente()" [disabled]="Pagina === totalPaginas"
                class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                Siguiente
            </button>
            </li>
        </ul>
    </nav>