<div id="defaultModal" [ngClass]="{'is-active': isVisible}" class="modal hidden">
    <div class="relative p-4 w-full max-w-2xl h-full md:h-auto">
        <div class="relative p-4 bg-white rounded-lg shadow dark:bg-gray-800 sm:p-5">

            <div class="flex justify-between items-center pb-4 mb-4 rounded-t border-b sm:mb-5 dark:border-gray-600">
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                    {{ tituloModal }}
                </h3>
                <button type="button" (click)="close()" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="defaultModal">
                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    <span class="sr-only">Cerrar Modal</span>
                </button>
            </div>
            <app-alertas-forms
            [tipo]="tipoAlerta"
            [titulo]="tipoAlerta === 'success' ? 'Éxito' : tipoAlerta === 'warning' ? 'Advertencia' : 'Error'"
            [mensaje]="mensajeAlerta"
            [mostrar]="mostrarAlerta">
            </app-alertas-forms>

            <form [formGroup]="productoForm" (ngSubmit)="guardarProducto()">
                <div class="grid gap-4 mb-4 sm:grid-cols-2 text-start">
                    <div>
                        <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre Producto o Servicio</label>
                        <input  formControlName="NombreProducto" type="text" name="name" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Filtro de Aire" 
                        >
                        <div *ngIf="productoForm.get('NombreProducto')?.invalid && productoForm.get('NombreProducto')?.touched" class="text-red-500 text-sm mt-1">
                            Este campo es obligatorio.
                        </div>
                    </div>
                    <div>
                        <label for="price" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Precio</label>
                        <input formControlName="Precio" type="number" name="price" id="price" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="$2999" 
                        >
                        <div *ngIf="productoForm.get('Precio')?.invalid && productoForm.get('Precio')?.touched" class="text-red-500 text-sm mt-1">
                            Este campo es obligatorio.
                        </div>
                    </div>
                    <div>
                        <label for="category" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Categorias</label>
                        <select 
                            formControlName="IdVeCategoriasProductos" 
                            id="category"
                            (change)="onSelectCategoria($event)"
                            style="padding-right: 12px;"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                                <option value="">Todas las Categorias 
                                    <svg  aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6" class="w-2.5 h-2.5 ms-2.5"></svg>
                                </option>
                                <option *ngFor="let categoria of categoriasSelect" [value]="categoria.IdVeCategoriasProductos">
                                    {{ categoria.NombreCategoria }}
                                </option>
                        </select>
                        <div *ngIf="productoForm.get('IdVeCategoriasProductos')?.invalid && productoForm.get('IdVeCategoriasProductos')?.touched" class="text-red-500 text-sm mt-1">
                            Este campo es obligatorio.
                        </div>
                    </div>
                    <div>
                        <label for="Fabricante" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fabricante</label>
                        <input formControlName="Fabricante" type="text" name="nomImg" id="nomImg" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" 
                        placeholder="Bosch" 
                        >
                        <div *ngIf="productoForm.get('Fabricante')?.invalid && productoForm.get('Fabricante')?.touched" class="text-red-500 text-sm mt-1">
                            Este campo es obligatorio.
                        </div>
                    </div>
                    <div class="sm:col-span-2">
                        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="file_input">Cargar Imagen</label>
                        <input 
                        class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 " 
                        #fileInput
                        id="file_input" 
                        type="file"
                        accept="image/*"
                        (change)="onFileSelected($event)">  
                    </div>
                    <div class="sm:col-span-2">
                        <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Descripción</label>
                        <textarea formControlName="Descripcion" id="description" name="description" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" 
                        placeholder="Escribe aquí la descripción de tu producto"></textarea>   
                        <div *ngIf="productoForm.get('Descripcion')?.invalid && productoForm.get('Descripcion')?.touched" class="text-red-500 text-sm mt-1">
                            Este campo es obligatorio.
                        </div>                 
                    </div>
                </div>
                <div class="gap-4 flex sm:items-center sm:justify-between">
                    <button (click)="close()" 
                    type="button"
                    data-modal-toggle="defaultModal"
                    class="relative inline-flex items-end justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-pink-500 to-orange-400 group-hover:from-pink-500 group-hover:to-orange-400 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800">
                        <span style="padding-right:15px;padding-left:10px" class="relative py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                        <svg class="me-1 -ms-0 inline" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18 17.94 6M18 18 6.06 6"/>
                        </svg>
                            Cerrar
                        </span>
                    </button>
                    <button 
                    type="submit"
                    id="defaultModalButton" 
                    data-modal-target="defaultModal" 
                    data-modal-toggle="defaultModal" 
                    class="relative inline-flex items-end justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800">
                        <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                        <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24" class="me-1 -ms-0 inline">
                            <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M11 16h2m6.707-9.293-2.414-2.414A1 1 0 0 0 16.586 4H5a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V7.414a1 1 0 0 0-.293-.707ZM16 20v-6a1 1 0 0 0-1-1H9a1 1 0 0 0-1 1v6h8ZM9 4h6v3a1 1 0 0 1-1 1h-4a1 1 0 0 1-1-1V4Z"/>
                        </svg>
                            {{ tituloModal === 'Editar Producto' ? 'Actualizar Producto' : 'Crear Producto' }}
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<app-toast-producto></app-toast-producto>